.line {
  height: 1px;
  /* color: #555555;     */
  background-color: #b3b3b3;
  width: 100%;
  /* margin-right: 20px; */
  margin: 58px 0px;
}
.intro-section {
  display: flex;
}

.profileImg {
    max-width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 200px;
}
.about-wrapper-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}